body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgb(242, 246, 255);
}

div.hero-background {
    height: 622px;
    background: linear-gradient( 200.44deg, rgb(67, 22, 219) 13.57%, rgb(144, 118, 231) 98.38%);
    position: relative;
    overflow: hidden;
    width: 100%;
}

div.blur-layer {
    position: absolute;
    width: 100%;
    height: 800px;
    backdrop-filter: blur(60px);
}

div.wave-1 {
    position: absolute;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 460px;
    left: 0px;
    height: 300px;
    background-image: url(https://designcode.io/images/waves/hero-wave2.svg);
}

div.wave-2 {
    position: absolute;
    width: 100%;
    top: 510px;
    height: 300px;
    clip-path: url(#clip);
    transform-origin: left top;
    background: linear-gradient(rgba(190, 255, 255, 0.25) -18.72%, rgb(242, 246, 255) 37.6%);
}

h1.hero-header {
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    margin: 0px;
    color: white;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    padding: 0px;
    padding: 0px 0px 20px 0px;
    max-width: 70%;
}

p.hero-body {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 130%;
    margin: 0px;
    color: white;
    padding: 0px;
    max-width: 70%;
}

.footer {
    color: rgba(0, 0, 0, 0.7);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

@media (max-width: 1440px) {
    div.wave-1 {
        background-size: 1440px;
    }
}

@media (max-width: 800px) {
    h1.hero-header {
        font-size: 2.5em;
    }

    p.hero-body {
        font-size: 0.9em;
    }

    .footer .row {
        flex-direction: column;
    }

    .footer-left {
        text-align: center;
    }

    .footer-right {
        text-align: center;
        margin-bottom: 30px;
    }
}