################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Academatica.Api/Academatica.Api.Auth/keys.json
