################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Academatica.Api/Academatica.Api.Auth/keys.json
/Academatica.Api/Academatica.Api.Users/keys.json
/Academatica.Api/Academatica.Api.Course/keys.json
bfg.jar
