<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/resources/css/layout.css" />
</head>
<body>
    @RenderBody()
    <div class="container footer-container">
        <footer class="footer">
            <div class="row">
                <div class="col footer-left">
                    <p>Academatica © 2022</p>
                </div>
                <div class="col footer-right">
                    <a href="http://localhost:5000/">Пользовательское соглашение</a> - <a href="http://localhost:5000/">Политика конфиденциальности</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>