@{ ViewData["Title"] = "Academatica - Адрес изменён"; }

<div class="hero-background">
    <div>
        <div class="wave-1"></div>
        <div class="wave-2">
            <svg style="position: absolute;">
                <clipPath id="clip">
                    <path d="M1175.65 35.7644C962.846 -46.1285 865.751 35.6288 643.768 54.6084C421.786 73.588 391.68 33.0436 226.292 14.4975C60.9034 -4.0486 11.1228 90.8729 -67.9998 110.654C-67.9998 198.586 -67.9998 516 -67.9998 516L1508.19 516L1508.19 8.45359C1508.19 8.45359 1388.84 117.807 1175.65 35.7644Z"></path>
                </clipPath>
            </svg>
        </div>
    </div>
    <div style="position: relative; top: 50px; display: flex; flex-direction: column; align-items: center">
        <img src="~/resources/Academatica logo text white.png" width="160" />
    </div>
    <div style="position: relative; top: 200px; text-align: center; display: grid; grid-gap: 30px; justify-items: center">
        <h1 class="hero-header">Ваш аккаунт готов</h1>
        <p class="hero-body">Вы успешно изменили адрес электронной почты.<br />Теперь вы можете использовать его для входа.</p>
    </div>
</div>