<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div style="width: 100%; height: 100%; padding: 0 !important; margin: 0 !important; background-color: #f3f4f8; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
            <table style="width: 100%; height: 100%; min-width: 100%; min-height: 100%; border-collapse: collapse; margin: 0; padding: 0; table-layout: fixed; text-align: center;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="center" valign="top" style="padding: 20px 0px 0px 0px;">
                            <table style="width: 100%; max-width: 600px; border-collapse: collapse;" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top" style="direction: ltr;" dir="ltr">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="width: 100%; max-width: 600px; border-collapse: collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="top" style="padding: 50px 40px 0px 40px; direction: ltr; background-color: #fff;" dir="ltr">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="width: 100%; border-collapse: collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" valign="top" width="100%" style="padding: 0; direction: ltr;" dir="ltr">
                                                                            <img src="https://drive.google.com/uc?export=view&id=13vsTq_Czraka3vFAsoejOUmfZ3llUMYz" hspace="0" vspace="0" border="0" style="display: block; margin: 0;" width="92">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="width: 100%; max-width: 600px; border-collapse: collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 50px 40px 20px 40px; font-family: Roboto, Arial, sans-serif; color: #0a0a0a; direction: ltr; background-color: #fff;" dir="ltr">
                                                            <h1 style="font-size: 32px; line-height: 40px;">Здравствуйте, {0}</h1>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 40px 20px 40px; font-family: Roboto, Arial, sans-serif; color: #0a0a0a; direction: ltr; background-color: #fff; font-size: 16px; line-height: 150%;" dir="ltr">
                                                            <p>Пароль от вашей учётной записи Academatica был недавно изменён на новый.</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 40px 40px 40px; font-family: Roboto, Arial, sans-serif; color: #0a0a0a; direction: ltr; background-color: #fff; font-size: 16px; line-height: 150%;" dir="ltr">
                                                            <p>Если это были не вы - настоятельно рекомендуем воспользоваться функцией восстановленией пароля и проверить безопасность вашей электронной почты.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="content-table" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top" style="padding: 60px 40px 60px 40px; font-family: Roboto, Arial, sans-serif; font-size: 12px; line-height: 150%; color: #9b99af; direction: ltr;" dir="ltr">
                                            Данное письмо было отправлено автоматически системой безопасности приложения Academatica
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>